deps/
ebin/
_rel/
.erlang.mk/
*.d
*.o
*.exe
data/
*.iml
.idea/
logs/
*.beam
emq_coap.d

integration_test/emq-relx/
integration_test/build_wakaama/
integration_test/case*.txt
integration_test/paho/
integration_test/wakaama/
